# =========================
# Java / Spring Boot
# =========================
**/target/
**/.idea/
**/*.iml

# Spring secrets
**/src/main/resources/application.properties

# =========================
# Flutter
# =========================
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/*.iml

# Android
**/android/.gradle/
**/android/local.properties/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
*.swp
*.swo


# =========================
# Local database backup and archives
# =========================
/artverse_database/
/artverse-backend.zip

# Firebase private credentials
**/firebase-adminsdk*.json
**/*service-account*.json
**/*serviceAccountKey*.json
